@use '../setting/variable' as var;
@use '../tool/function' as func;
@use '../tool/mixin' as mixin;

.l-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
