<div class="c-burger js-burger js-bgr-btn">
  <div class="c-burger__box">
    <span class="c-burger__line c-burger__line--top"></span>
    <span class="c-burger__line c-burger__line--center"></span>
    <span class="c-burger__line c-burger__line--bottom"></span>
  </div>
</div>
