@use 'sass:math';

// common color
$black: #000;
$white: #fff;
$facebook: #1877f2;
$x: $black;
$line: #00b900;

// original color
$txt: #231815;

$bg-light-gray: #f3f3f3;
$bg-yellow: #ebe2bd;
$bg-dark-gray: #333333;
