/* stylelint-disable value-keyword-case */

/* sans-serif */
$regular: 'Hiragino Mincho Pro', sans-serif;
$marcellus: 'Marcellus', sans-serif;
$noto-sans: 'Noto Sans JP', sans-serif;

/* others */
$main: $regular;
