<section class="p-about" id="about">
  <div class="l-inner">
    <div class="js-inview u-inview">
      <%- include('../component/_hdg.ejs',
        {
          text_en: 'ABOUT',
          text_ja: 'サロンについて',
          addClass: 'center',
          modifier: '--'
        });
      _%>
    </div>
    <div class="p-about__detail">
      <p class="p-about__text js-inview u-inview">癖毛、広がり、ダメージでお悩みの方へ</p>
      <p class="p-about__text js-inview u-inview">
        <span>縮毛矯正特化型サロン</span><br>という選択肢を。
      </p>
      <p class="p-about__text js-inview u-inview">完全マンツーマンで贅沢なサロンタイムをご提供。<br>
        一人ひとりに合わせた薬剤を使用し髪質を改善していきます。<br>一緒に理想の美髪を目指しましょう。
      </p>
    </div>
  </div>
</section>
