<section class="p-access" id="access">
  <div class="p-access__inner l-inner">
    <div class="p-access__flex">
      <div class="p-access__info">
        <div class="p-access__hdg js-inview u-inview">
          <%- include('../component/_hdg.ejs',
          {
            text_en: 'ACCESS',
            text_ja: 'アクセス',
            addClass: 'left',
            modifier: '--'
          });
          _%>
        </div>
        <div class="p-access__adress  js-inview u-inview">
          <p>〒573-1192<br>
            大阪府枚方市西禁野1-1-18</p>
          <p class="p-access__adress-walk">枚方市駅から徒歩5分</p>
        </div>
        <div class="p-access__time js-inview u-inview">
          <dl class="p-access__time-inner">
            <dt>Open</dt>
            <dd>10:00 - 21:00</dd>
          </dl>
          <dl class="p-access__time-inner">
            <dt>Close</dt>
            <dd>不定休</dd>
          </dl>
        </div>
        <div class="p-access__tel js-inview u-inview">
          <dl>
            <dt>Tel</dt>
            <dd>072-845-5021</dd>
          </dl>
        </div>
        <div class="p-access__btn js-inview u-inview">
          <a href="https://maps.app.goo.gl/vuviZiw27C1E2k6R9" target="_blank" class="p-access__btn-link">
            view on google map
          </a>
        </div>
      </div>
      <div class="p-access__map js-inview u-inview">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.47656903299!2d135.6496076126208!3d34.81910847276478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60011d101900a78b%3A0xd44b04e76341b443!2zUGVuc8OpZQ!5e0!3m2!1sja!2sjp!4v1729240832660!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
