
<footer class="p-footer" id="js-footer">
  <div class="p-footer__inner l-inner">
    <div class="p-footer__logo js-inview u-inview">
      <%- f.insertImage(`${IMG_PATH}/logo_black.svg`, 'p-header__logo-svg', 'Pensée Hair Design'); _%>
    </div>
    <div class="p-footer__info js-inview u-inview-list">
      <div class="p-footer__time u-inview-list__item">
        <dl class="p-footer__time-open">
          <dt>Open</dt>
          <dd>10:00 - 21:00</dd>
        </dl>
        <dl class="p-footer__time-close">
          <dt>Close</dt>
          <dd>不定休</dd>
        </dl>
      </div>
      <dl class="u-inview-list__item u-delay1">
        <dt>Access</dt>
        <dd>〒573-1192<br>
          大阪府枚方市西禁野1-1-18
        </dd>
      </dl>
      <dl class="u-inview-list__item u-delay2">
        <dt>Tel</dt>
        <dd>072-845-5021</dd>
      </dl>
    </div>
  </div>
  <div class="p-footer__copy">
    <p>&copy; Pensée Hair Design. All right reserved.</p>
    <div class="p-footer__scroll">
      <a href="#kv">
        <%- f.insertResponsive(`${IMG_PATH}/footer_scroll_pc.svg`, `${IMG_PATH}/footer_scroll_sp.svg`, '', ''); _%>
      </a>
    </div>
  </div>
</footer>

