<div class="p-kv" id="kv">
  <div class="p-kv__img">
    <%- f.insertResponsive(`${IMG_PATH}/kv_main_pc.webp`, `${IMG_PATH}/kv_main_sp.webp`, '', ''); _%>
  </div>
  <div class="l-inner">
    <div class="p-kv__scroll">
      <div class="p-kv__scroll-inner">
        <span class="p-kv__scroll-arrow">
          <%- f.insertImage(`${IMG_PATH}/kv_arrow.svg`, '', ''); _%>
        </span>
        <span class="p-kv__scroll-circle">
          <%- f.insertImage(`${IMG_PATH}/kv_circle.svg`, '', ''); _%>
        </span>
      </div>
    </div>
  </div>
</div>
